/* Estilos base (pantallas grandes) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D1E1EA;
}

header {
  background-color: #043552;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

section {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

section p{
 text-align: justify;
 font-family:Bahnschrift Condensed;
}

section img{
  display: block;
    margin: auto;
    height: 200px;
    width: 250px;
}

.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  flex-shrink: 0;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

footer {
  background-color: #043552;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Media query para tablets (menos de 768px) */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  main {
    padding: 15px;
  }
}

/* Media query para móviles (menos de 480px) */
@media (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  section {
    font-size: 14px;
  }
}
